body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg,  #49023f, #1c0118);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 70%;
  max-width: 350px;
}

.logo {
  font-size: 36px;
  color: #35042e;
  margin-bottom: 10px;
}

.slogan {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #35042e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.login-form button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}